<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/navbar.css" />
    <title>Navbar</title>
  </head>
  <body>
    <div class="nav">
      <div class="menuItem dropDown">
        <div class="home"><b class="menuCarret"></b></div>
        <a href="/" class="subMenu">Tests</a>
      </div>
      <a class="menuItem" href="/login">
        <div>Login</div>
      </a>
      <a class="menuItem" href="/register">
        <div>Register</div>
      </a>
      <a class="menuItem" href="/test">
        <div>Test</div>
      </a>
      <div class="burger">
        <input type="checkbox" /> <span></span> <span></span>
        <span></span>
        <div class="leftMenu"></div>
      </div>
    </div>
  </body>
</html>
