<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/test.css" />
    <title>Test</title>
  </head>
  <body>
    <div class="container">
      <div class="question">
        1. What is closure?
      </div>
      <div class="answers">
        <label
          >One Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
          praesentium, vero repudiandae laboriosam debitis dignissimos eaque

          <input type="radio" checked="checked" name="answer" />
          <span class="checkmark"></span>
        </label>
        <label
          >Two Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic odio
          soluta temporibus, possimus, culpa quaerat quia quidem dolores,

          <input type="radio" checked="checked" name="answer" />
          <span class="checkmark"></span>
        </label>
        <label
          >Three Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Doloribus, ipsa odio. Modi ipsa consequuntur corrupti facilis laborum

          <input type="radio" checked="checked" name="answer" />
          <span class="checkmark"></span>
        </label>
        <label
          >Four Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
          dicta eius voluptatem ullam tenetur rerum, nam nobis, nemo, veniam

          <input type="radio" checked="checked" name="answer" />
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="footer">
        <div class="pages">
          <span class="page done"></span>
          <span class="page current"></span>
          <span class="page"></span>
          <span class="page"></span>
          <span class="page"></span>
          <span class="page"></span>
          <span class="page"></span>
          <span class="page"></span>
          <span class="page"></span>
          <span class="page"></span>
        </div>
        <span class="divider"></span>
        <div class="time">
          <span class="clock"></span>
          <span id="time">2:04</span>
        </div>
        <span class="divider"></span>
        <div class="navigate">
          <span><i class="arrow left"></i></span>
          <span><i class="arrow right"></i></span>
        </div>
      </div>
    </div>
  </body>
</html>
