/* --------------------------------VARIABLES-------------------------------- */
$borderColor: #fff;
$borderWidth: 1px;
$green: #36af46;
$greenHover: #2b8f38;
$blue: #1d45b4;
$blue2: #77f;
$blueHover: #366eaf;
/* --------------------------------AUTH-------------------------------- */

.loginCont {
  margin: auto;
  display: flex;
  width: 40%;
  max-width: 400px;
  padding-top: 100px;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.loginCont > * {
  margin: 10px;
  width: 100%;
}

.userPageCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.avatarCont > img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin: auto;
}
.avatarCont {
  width: 200px;
  margin: auto;
}
.avatarCont > * > button {
  width: 200px;
  margin: auto;
}
.avatarCont > * > input {
  opacity: 0;
  position: absolute;
  width: 180px;
  height: 20px;
  padding: 10px;
  cursor: pointer;
}

.avatarCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.userCont > button {
  width: 200px;
  margin: 20px auto 0;
}
.userCont {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: $borderWidth solid $borderColor;
  padding: 20px;
  width: 400px;
  margin: 20px auto 20px auto;
}
.contLabel {
  position: absolute;
  top: -10px;
  background: #000;
  padding: 0 10px;
}
.userPageCont hr {
  border-bottom: $borderWidth solid #fff;
  margin: 30px 0;
}
.userPageCont > header {
  font-size: 300%;
  font-weight: bold;
  text-align: center;
}

/* --------------------------------CONTACTS-------------------------------- */

img {
  width: 300px;
  height: auto;
}
.gallery {
  margin: 5%;
  border: $borderWidth solid $borderColor;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: auto;
}
.googleMap {
  width: 80%;
  height: auto;
}
.galleryContainer {
  margin: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
}
.desc {
  text-align: center;
  font-size: 20px;
  margin: 10px 0;
}
a {
  text-decoration: none;
  color: #fff;
  display: block;
}
.whatWeDoCont {
  display: flex;
  justify-content: center;
  padding: 0 15%;
  flex-wrap: nowrap;
}
.whatWeDoLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.whatWeDoRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* --------------------------------FILTER-------------------------------- */
.filterBadge {
  position: fixed;
  cursor: pointer;
  display: flex;
  z-index: 1;
  top: 90%;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: $blue2;
  color: #fff;
  justify-content: center;
}

.filterBadge:hover {
  background: #5757bb;
}

.filterIcon {
  display: inline;
}

.filterIcon::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 15px;
  left: 22px;
  top: 25px;
  background: #fff;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.filterIcon::after {
  content: "";
  left: 10px;
  top: 15px;
  position: absolute;
  border-top: 15px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.filterMenu {
  display: none;
}
.filterToggle {
  position: fixed;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  top: 90%;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.filterToggle:checked ~ .filterBadge {
  top: 60%;
}
.filterToggle:checked ~ .filterIcon::before {
  height: 20px;
  height: 30px;
  left: 22px;
  top: 10px;
  transform: rotate(45deg);
  transition-duration: 0.3s;
}
.filterToggle:checked ~ .filterIcon::after {
  content: "";
  position: absolute;
  border: none;
  width: 6px;
  height: 30px;
  left: 22px;
  top: 10px;
  background: #fff;
  border-radius: 10px;
  transform: rotate(-45deg);
  transition-duration: 0.3s;
}
.filterToggle:checked ~ .filterMenu {
  width: 100%;
  height: 30%;
  background: #222;
  bottom: 0;
  position: fixed;
  overflow: scroll;
  display: block;
}

/* --------------------------------LANDING-------------------------------- */
.landingCont {
  text-align: center;
}

.allTestsPreviewCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
b {
  margin: auto 0;
}
.customBtn {
  cursor: pointer;
  // width: 40%;
  padding: 10px 10px;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  margin: 10px;
  color: #fff;
  border: 2px solid $borderColor;
  border-radius: 7px;
}
.blue {
  background: $blue;
}
.blue:hover {
  background: $blueHover;
}
.pagination {
  max-width: 150px;
  min-width: 80px;
}
.customBtn:disabled {
  background: #819985;
}
.customBtn:disabled:hover {
  background: #819985;
  cursor: default;
}
.green {
  background: $green;
}
.green:hover {
  background: $greenHover;
}

.textInput {
  border: 2px solid $borderColor;
  border-radius: 7px;
  color: #fff;
  font-size: medium;
  height: 30px;
  padding: 5px;
  background: #222;
}
.search {
  width: 86%;
  margin-bottom: 30px;
}
.testPreviewCont {
  max-width: 150px;
  min-width: 80px;
  position: relative;
  background: rgb(237, 250, 255);
  border: 2px solid $blue;
  border-radius: 10px;
  display: inline-block;
  margin: 15px 4%;
  width: 40%;
  overflow: hidden;
}
.testPreviewCont:hover {
  opacity: 0.85;
}
.testName {
  background: #222;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.testImage {
  width: 100%;
  height: auto;
}

.testBtn {
  cursor: pointer;
  text-align: center;
  background: $blue;
  color: #fff;
  padding: 10px 0;
  display: block;
  width: 100%;
  border: none;
}

.footer {
  background: #222;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

/* --------------------------------NAVBAR-------------------------------- */
body {
  margin: 0;
}
a {
  text-decoration: none;
}
.nav {
  font-size: 1.5em;
  z-index: 1;
  width: 100%;
  top: 0;
  height: 50px;
  background: $blue2;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menuItem {
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  border-right: $borderWidth solid #fff;
}
.menuItemPhone,
.subMenuPhone {
  display: none;
}
.carret {
  position: absolute;
}
.carret::after {
  content: "";
  position: absolute;
  border-top: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.menu::after {
  left: 5px;
  top: 10px;
}

.menuItem > div {
  padding: 10px 0 0 0;
}
.home {
  position: relative;
}
.home::before {
  content: "";
  margin-left: -15px;
  top: 10px;
  position: absolute;
  border-bottom: 15px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-radius: 10px;
}
.home::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 15px;
  margin-left: -10px;
  top: 20px;
  background: #fff;
  transition: all 0.3s;
}
.subMenu {
  position: absolute;
  top: 50px;
  left: 50%;
  display: none;
  background: #000;
  transition: all 0.3s;
  border: $borderWidth solid $borderColor;
}
.subMenu > a {
  text-decoration: none;
  color: #fff;
  margin: 15px 10px;
}
.dropDown {
  position: relative;
}
.dropDown:hover .subMenu {
  display: block;
  transition: all 0.3s;
}

/* ________BURGER________ */

.burger {
  margin: 0 10px;
  display: none;
}
.burger input {
  display: block;
  width: 50px;
  height: 40px;
  position: absolute;
  top: 0;
  right: -10px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.foldNav {
  width: 100%;
  left: 0;
  margin-top: -300px;
  position: absolute;
  transition: all 0.3s;
}
.burger input:checked ~ .foldNav {
  width: 100%;
  top: 50px;
  margin-top: 0;
  background: $blue2;
  transition: all 0.3s;
}
.burger input:checked ~ .foldNav > * {
  display: block;
}
.burger input:checked ~ .foldNav > * > * {
  display: block;
}
.menuItemPhone {
  display: none;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #fff;
}

.burger span {
  display: block;
  width: 33px;
  height: 4px;
  margin: 5px 0;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
}

.nav span:first-child {
  transform-origin: 0% 0%;
}

.nav span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* --------------------------------TEST-------------------------------- */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
h2 {
  text-align: center;
  z-index: 30;
}
p {
  margin: 0;
}
i {
  border: solid $borderColor;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
}
.container {
  max-width: 850px;
  color: #fff;
  background: #5c5c5f;
  border: 2px solid $borderColor;
  border-radius: 30px;
  margin: 0 10px 40%;
  overflow: hidden;
}
.divider {
  background: #fff;
  display: inline-block;
  margin: 0 5px;
  width: 3px;
  height: 25px;
}

.question {
  background: #222;
  color: #fff;
  padding: 10px;
  font-size: 1.5em;
}

/* ________ANSWERS________ */

.answers {
  position: relative;
}
.answers > label {
  cursor: pointer;
  display: block;
  position: relative;
  padding: 10px 0;
  padding-left: 35px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.answers > label:hover {
  background: rgb(120, 150, 187);
}
.answers input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: inline;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.answers input:checked ~ .checkmark {
  background-color: $blue2;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.answers input:checked ~ .checkmark:after {
  display: block;
}

.answers .checkmark:after {
  top: 6px;
  left: 6px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
}

/* ________BOTTOM________ */

.testFooter {
  background: #222;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ________PAGES________ */

.pages {
  width: 100%;
  display: flex;
  margin-left: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}
.page {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: rgb(237, 250, 255);
}
.done {
  background: #090;
}
.done::after {
  content: "";
  border: solid $borderColor;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px 2px;
  position: absolute;
  top: 4px;
  left: 7px;
  transform: rotate(45deg);
}
.current {
  background: #55f;
  box-shadow: 0 0 0 2px #fff;
}

/* ________TIME________ */

.time {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.clock {
  content: "";
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #fff;
}
.clock::after {
  content: "";
  position: absolute;
  border: solid #222;
  border-width: 0 2px 2px 0;
  display: block;
  padding: 4px 3px;
  top: 3px;
  left: 9px;
  transform: rotate(90deg);
}
.auth {
  margin: 50px auto auto;
}
/* --------------------------------NAVBAR-------------------------------- */

.navigate {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.navigate > span {
  cursor: pointer;
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
}
.navigate > span:first {
  padding-left: 25px;
}
.navigate > span:hover {
  background: $blue2;
}
.navigate > span.end:hover {
  background: #0b0;
}
.left {
  transform: rotate(135deg);
  left: 5px;
  margin-left: 15px;
}
.right {
  transform: rotate(-45deg);
  margin-left: 5px;
}
.end {
  transform: rotate(45deg);
  margin: 0 0 10px 15px;
  padding: 10px 5px;
}

@media (max-width: 320px) {
  .menuItem {
    display: none;
  }
  .nav {
    justify-content: flex-end;
  }
}

@media (min-width: 480px) {
  .container {
    margin: 0 30px 40%;
  }
}
@media (max-width: 480px) {
  .burger {
    display: block;
  }
  .nav {
    justify-content: flex-end;
  }
  .menuItem {
    display: none;
  }

  .userCont {
    width: 80%;
  }
}

@media (min-width: 600px) {
}
@media (max-width: 600px) {
  .pagination {
    padding: 20px 10px;
  }
  .customBtn {
    // width: auto;
  }
  .auth {
    padding: 20px 10px;
  }
  .loginCont {
    width: 80%;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 900px) {
  .container {
    margin: 0 auto 40%;
  }
}

@media (min-width: 1024px) {
}

@media (min-width: 1200px) {
}
