.loginCont {
  margin: auto;
  display: flex;
  padding-top: 100px;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.loginCont > * {
  margin: 10px;
}
.userPageCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.avatarCont > img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin: auto;
}
.avatarCont > button {
  width: 200px;
  margin: auto;
}
.avatarCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
.userCont > button {
  width: 200px;
  margin: 20px auto 0;
}
.userCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 20px;
  width: 400px;
  margin: 20px auto 20px auto;
}

.userPageCont hr {
  border-bottom: 1px solid #fff;
  margin: 30px 0;
}

@media (max-width: 320px) {
}
@media (max-width: 480px) {
  .userCont {
    width: 80%;
  }
}
@media (min-width: 600px) {
}
@media (min-width: 768px) {
}
@media (min-width: 900px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
