.filterBadge {
  position: fixed;
  cursor: pointer;
  display: flex;
  z-index: 1;
  top: 90%;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #77f;
  color: #fff;
  justify-content: center;
}

.filterBadge:hover {
  background: #5757bb;
}

.filterIcon {
  display: inline;
}

.filterIcon::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 15px;
  left: 22px;
  top: 25px;
  background: #fff;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.filterIcon::after {
  content: "";
  left: 10px;
  top: 15px;
  position: absolute;
  border-top: 15px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.filterMenu {
  display: none;
}
.filterToggle {
  position: fixed;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  top: 90%;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.filterToggle:checked ~ .filterBadge {
  top: 60%;
}
.filterToggle:checked ~ .filterIcon::before {
  height: 20px;
  height: 30px;
  left: 22px;
  top: 10px;
  transform: rotate(45deg);
  transition-duration: 0.3s;
}
.filterToggle:checked ~ .filterIcon::after {
  content: "";
  position: absolute;
  border: none;
  width: 6px;
  height: 30px;
  left: 22px;
  top: 10px;
  background: #fff;
  border-radius: 10px;
  transform: rotate(-45deg);
  transition-duration: 0.3s;
}
.filterToggle:checked ~ .filterMenu {
  width: 100%;
  height: 30%;
  background: #222;
  bottom: 0;
  position: fixed;
  overflow: scroll;
  display: block;
}
