.landingCont {
  text-align: center;
}

.allTestsPreviewCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
b {
  margin: auto 0;
}
.customBtn {
  cursor: pointer;
  width: 40%;
  padding: 10px 10px;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  margin: 10px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 7px;
}
.blue {
  background: #1d45b4;
}
.blue:hover {
  background: #366eaf;
}
.pagination {
  max-width: 150px;
  min-width: 80px;
}
.customBtn:disabled {
  background: #819985;
}
.customBtn:disabled:hover {
  background: #819985;
  cursor: default;
}
.green {
  background: #36af46;
}
.green:hover {
  background: #2b8f38;
}

.textInput {
  border: 2px solid #fff;
  border-radius: 7px;
  color: #fff;
  font-size: medium;
  height: 30px;
  padding: 5px;
  background: #222;
}
.search {
  width: 86%;
  margin-bottom: 30px;
}
.testPreviewCont {
  max-width: 150px;
  min-width: 80px;
  position: relative;
  background: rgb(237, 250, 255);
  border: 2px solid #1d45b4;
  border-radius: 10px;
  display: inline-block;
  margin: 15px 4%;
  width: 40%;
  overflow: hidden;
}
.testPreviewCont:hover {
  opacity: 0.85;
}
.testName {
  background: #222;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.testImage {
  width: 100%;
  height: auto;
}
.auth {
  margin-top: 50px;
}

.testBtn {
  cursor: pointer;
  text-align: center;
  background: #1d45b4;
  color: #fff;
  padding: 10px 0;
  display: block;
  width: 100%;
  border: none;
}

.footer {
  background: #222;
  margin-top: 100px;
}
@media (max-width: 600px) {
  .pagination {
    padding: 20px 10px;
  }
  .customBtn {
    width: auto;
  }
  .auth {
    padding: 20px 10px;
  }
}
