body {
  margin: 0;
}
a {
  text-decoration: none;
}
.nav {
  font-size: 1.5em;
  z-index: 1;
  width: 100%;
  top: 0;
  height: 50px;
  background: #77f;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menuItem {
  text-decoration: none;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  border-right: 1px solid #fff;
}
.menuCarret {
  position: absolute;
}
.menuCarret::before {
  content: "";
  left: 5px;
  top: 10px;
  position: absolute;
  border-top: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.menuItem > div {
  padding: 10px 0 0 0;
}
.home {
  margin: 0 auto;
}
.home::before {
  content: "";
  left: 10px;
  top: 10px;
  position: absolute;
  border-bottom: 15px solid #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-radius: 10px;
}
.home::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 15px;
  left: 15px;
  top: 20px;
  background: #fff;
  transition: all 0.3s;
}
.subMenu {
  position: absolute;
  height: 30px;
  top: 50px;
  left: 50%;
  display: none;
  color: #fff;
  background: #000;
  padding: 10px 20px 10px 20px;
  transition: all 0.3s;
}
.dropDown {
  position: relative;
}
.dropDown:hover .subMenu {
  display: block;
  transition: all 0.3s;
}

/* ________BURGER________ */

.burger {
  margin: 0 10px;
}
.burger input {
  display: block;
  width: 50px;
  height: 40px;
  position: absolute;
  top: 0;
  right: -10px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.leftMenu {
  width: 0;
  height: 0;
  left: 0;
  top: 50px;
  background: #000;
  position: absolute;
  transition: all 0.3s;
}
.burger input:checked ~ .leftMenu {
  width: 200px;
  height: 200px;
  transition: all 0.3s;
}
.burger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
}

.nav span:first-child {
  transform-origin: 0% 0%;
}

.nav span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

@media (max-width: 320px) {
  .menuItem {
    display: none;
  }
  .nav {
    justify-content: flex-end;
  }
}
@media (max-width: 480px) {
}
@media (min-width: 600px) {
}
@media (min-width: 768px) {
}
@media (min-width: 900px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1200px) {
}
