body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
h2 {
  text-align: center;
  z-index: 30;
}
p {
  margin: 0;
}
i {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 10px;
}
.container {
  max-width: 850px;
  color: #fff;
  background: #5c5c5f;
  border: 2px solid #fff;
  border-radius: 30px;
  margin: 0 10px 40%;
  overflow: hidden;
}
.divider {
  background: #fff;
  display: inline-block;
  margin: 0 5px;
  width: 3px;
  height: 25px;
}

.question {
  background: #222;
  color: #fff;
  padding: 10px;
  font-size: 1.5em;
}

/* ________ANSWERS________ */

.answers {
  position: relative;
}
.answers > label {
  cursor: pointer;
  display: block;
  position: relative;
  padding: 10px 0;
  padding-left: 35px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.answers > label:hover {
  background: rgb(120, 150, 187);
}
.answers input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: inline;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.answers input:checked ~ .checkmark {
  background-color: #77f;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.answers input:checked ~ .checkmark:after {
  display: block;
}

.answers .checkmark:after {
  top: 6px;
  left: 6px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
}

/* ________BOTTOM________ */

.testFooter {
  background: #222;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ________PAGES________ */

.pages {
  width: 100%;
  display: flex;
  margin-left: 10px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}
.page {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: rgb(237, 250, 255);
}
.done {
  background: #090;
}
.done::after {
  content: "";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px 2px;
  position: absolute;
  top: 4px;
  left: 7px;
  transform: rotate(45deg);
}
.current {
  background: #55f;
  box-shadow: 0 0 0 2px #fff;
}

/* ________TIME________ */

.time {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.clock {
  content: "";
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #fff;
}
.clock::after {
  content: "";
  position: absolute;
  border: solid #222;
  border-width: 0 2px 2px 0;
  display: block;
  padding: 4px 3px;
  top: 3px;
  left: 9px;
  transform: rotate(90deg);
}

/* ________NAV________ */

.navigate {
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.navigate > span {
  cursor: pointer;
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
}
.navigate > span:first {
  padding-left: 25px;
}
.navigate > span:hover {
  background: #77f;
}
.navigate > span.end:hover {
  background: #0b0;
}
.left {
  transform: rotate(135deg);
  left: 5px;
  margin-left: 15px;
}
.right {
  transform: rotate(-45deg);
  margin-left: 5px;
}
.end {
  transform: rotate(45deg);
  margin: 0 0 10px 15px;
  padding: 10px 5px;
}

@media (min-width: 480px) {
  .container {
    margin: 0 30px 40%;
  }
}
@media (min-width: 900px) {
  .container {
    margin: 0 auto 40%;
  }
}
